{% extends 'exe_forms_base.html' %}
{% block content %}




<div class="" align='center'>
    <br><br><br><br><br><br>
    <h1  class=''>Daily Report</h1>
    <table border="1" class='report_table'>
        <tr class='report_table_heading' bgcolor='sky blue' align="center">
            <td>Date</td>
            <td>Area</td>
            <td>AppointedPersons</td>
            <td>NoOfClients</td>
            
        </tr>
        {% for result in values %}
            <tr align="center" style="color: turquoise;">
                <td>{{result.Date}}</td>
                <td>{{result.Area}}</td>
                <td>{{result.AppointedPersons}}</td>
                <td>{{result.NoOfClients}}</td>
                
            </tr>
        {%endfor%}

    </table>

</div>






{% endblock %}